In [31]:
import pandas as pd

In [32]:
data = {'label1': ['pig','pig', 'cat', None],
       'label2': ['cow', 'dog', None, 'pig'],
       'label3': ['cow', 'horse', 'pig', 'cat']}

In [33]:
df = pd.DataFrame(data)

In [34]:
df

  label1 label2 label3
0    pig    cow    cow
1    pig    dog  horse
2    cat   None    pig
3   None    pig    cat

In [239]:
def move_to_end(lst):
    new_list = [label for label in lst if label]
    
    return new_list + [None]

def flexible_data(df):
    '''
    Input: Dataframe with n(i, j) = j-th annotation for the i-th data instance.
    Output: numbered_labels, list of unique data points converted to numbers
            data_dict, dictionary connecting the original data point to its
                    converted number
    '''
    all_data = []
    for idx, row in df.iterrows():
        all_data += list(row)

    unique_data = list(set(all_data))
    unique_data = move_to_end(unique_data)
    unique_data_ex_none = list(filter(None, unique_data))
    numbered_labels = [i for i in range(len(unique_data_ex_none))]
    
    data_dict = { }
    for name, i in zip(unique_data, numbered_labels):
        if name == None:
            data_dict[name] = name
        else:
            data_dict[name] = float(i)

    data_dict[None] = None
    
    return data_dict, numbered_labels

def convert_dataframe(df):
    data_dict, numbered_labels = flexible_data(df)

    new_data = { }

    for idx, col in df.iteritems():
        new_column = []
        for instance in col:
            new_column.append(data_dict[instance])
        new_data[idx] = new_column

    new_data = pd.DataFrame(new_data)
    
    return new_data, numbered_labels

In [240]:
df_new = convert_dataframe(df)

In [242]:
df_new[0]

   label1  label2  label3
0     4.0     1.0       1
1     4.0     2.0       0
2     3.0     NaN       4
3     NaN     4.0       3

In [70]:
df

  label1 label2 label3
0    pig    cow    cow
1    pig    dog  horse
2    cat   None    pig
3   None    pig    cat

In [218]:
lst = ['hi', 'bye', None, 'hello']

In [219]:
lst

['hi', 'bye', None, 'hello']

In [220]:
new_list = move_to_end(lst)

In [221]:
new_list

['hi', 'bye', 'hello', None]