In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'m1': [4, 1, 4, 1, 2], 
                   'm2': [4, 1, 4, 1, 2],
                   'm3': [4, 1, 3, 3, 1],
                   'm4': [4, 1, 4, 1, 1],
                   'm5': [2, 1, 3, 1, 2],
                   })

In [3]:
df

   m1  m2  m3  m4  m5
0   4   4   4   4   2
1   1   1   1   1   1
2   4   4   3   4   3
3   1   1   3   1   1
4   2   2   1   1   2

In [6]:
labels = [4, 4, 4, 4, 2]

In [7]:
all_labels = set(labels)

In [8]:
len(labels)

5

In [9]:
len(all_labels)

2

In [15]:
label1, label2 = list(all_labels)[0], list(all_labels)[1]

In [16]:
label1,label2

(2, 4)

In [17]:
if labels.count(label1) > labels.count(label2):
    looper = label1
else:
    looper = label2

In [25]:
looper

4

In [26]:
new_labels = [1 if i == looper else 0 for i in labels]

In [27]:
new_labels

[1, 1, 1, 1, 0]

In [28]:
count = sum(new_labels)

In [29]:
count

4

In [30]:
degree = (len(labels) - count) / count

In [31]:
degree

0.25

In [35]:
for row in df.itertuples():
    row = list(row)